#app {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.titleEntry {
  width: 20vw; 
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.mainContent {
  width: 80%
}

.numEntry {
  
  width: 30px;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

label {
  text-align:right;
  font-weight: 200;
}

.infoBox {
  background-color: mediumseagreen;
  width: 60%;
  color: #f7fbff;
  font-weight:700;
  padding: .5vw .5vw .5vw .5vw;
  margin: .5vw .5vw .5vw .5vw;
}

.textEntry {
  width: 30vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.submitBtn {
  border-radius: 10px;
  background-color: #4287f5;
  color: #f7fbff;
  font-weight:700;
  border: none;
  padding: 1vw;
  margin: 2px 4px;
}

.submitBtn:hover {
  background-color:#425df5;
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}