html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.titleEntry {
  width: 20vw; 
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.numEntry {
  
  width: 30px;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

label {
  text-align:right;
  font-weight: 200;
}

.textEntry {
  width: 30vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}